<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %} {% endblock %} | 5sur5 - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    {% block css %} {% endblock %}
    {{ include('partials/head-css.html.twig') }}
</head>

<body class="loading" data-layout-mode="horizontal" data-layout-color="light" data-layout-size="fluid" data-topbar-color="dark" data-leftbar-position="fixed">

<div id="wrapper">


    {{ include('partials/topbar-dark.html.twig') }}

    {{ include('partials/horizontal-nav.html.twig') }}

    <div class="content-page">
        <div class="content">


            <div class="container-fluid">
                {% block body %} {% endblock %}
            </div>

        </div>

        {{ include('partials/footer.html.twig') }}
    </div>

</div>

{{ include('partials/right-sidebar.html.twig') }}

{{ include('partials/vendor.html.twig') }}

{% block javascript %} {% endblock %}

<!-- App js-->
<script src="/js/app.min.js"></script>

</body>
</html>