{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Commandes
{% endblock %}

{% block css %}
	<!-- third party css -->
	<link href="/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link
	href="/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<!-- third party css end -->
	<style>

		.avatar.no-thumbnail {
			background-color: #F09E7A;
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.avatar {
			width: 40px;
			min-width: 40px;
			height: 40px;
		}
		.nav-tabs.tab-body-header {
			border: 1px solid #F09E7A;
			overflow: hidden;
		}
		.nav-tabs.tab-body-header .nav-link.active {
			background-color: #F09E7A;
			color: #fff;
		}
		.nav-tabs.tab-card .nav-link {
			padding: 12px
		}
		.nav-tabs.tab-body-header .nav-link {
			border: 0;
			margin: 0;
			border-radius: 0;
			color: black;
		}
		.nav-tabs.tab-card .nav-link.active {
			border-color: #F09E7A;
		}
		.table {
			font-size: 14px;
			line-height: 1;
			font-family: 'Montserrat-Regular';
		}
		.table thead th {
			padding-top: 18px;
			vertical-align: bottom;
			border-bottom: 2px solid #dee2e6;
			line-height: 2;
			font-size: 15px !important;
		}
		.dataTables_wrapper .dt-buttons {
			float: right;
			text-align: right;
			margin-bottom: 10px;
		}


	</style>
	<style>
		.small-box {
			border-radius: 0.25rem;
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
			display: block;
			margin-bottom: 20px;
			position: relative;
		}
		td {
			text-align: center;
		}
		th {
			text-align: center;

		}
		.linkCmd {
			padding: 15px;

		}
		.nav-tabs {
			border: 1px solid #dee2e6;
			height: 50px;
		}
		.linkCmd > .active {
			background: #F09E7A;
			color: white;

		}
		.contentDetailsComptable {
			margin: 0 !important;
		}
		
		/*.RechercheSejour{width: 800px;}*/
		.listeCmdComptable {
			margin-top: 10% !important;
		}
	</style>
	<style>
		@font-face {
			font-family: 'Montserrat-Regular';
			src: url('/fonts/Montserrat/Montserrat-Regular.otf') format('opentype');
		}
		@font-face {
			font-family: 'Montserrat-Medium';
			src: url('/fonts/Montserrat/Montserrat-Medium.otf') format('opentype');
		}
		@font-face {
			font-family: 'Montserrat-Bold';
			src: url('/fonts/Montserrat/Montserrat-Bold.otf') format('opentype');
		}
		@font-face {
			font-family: 'Montserrat-Light';
			src: url('/fonts/Montserrat/Montserrat-Light.otf') format('opentype');
		}
		@font-face {
			font-family: 'Montserrat-SemiBold';
			src: url('/fonts/Montserrat/Montserrat-SemiBold.otf') format('opentype');
		}
		/***************************************/
		/* Style Loader Espace Accompagnateur  */
		/***************************************/
		.loaderAcc {
			position: fixed;
			width: 100%;
			height: 100%;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.1);
			z-index: 999;
			display: none;
		}
		.loaderAcc > .spinner-border.text-info {
			margin-top: 15%;
			width: 5rem;
			height: 5rem;
		}
		/***************************************/

		input::placeholder,
		input::-webkit-input-placeholder,
		input::-moz-placeholder {
			line-height: normal !important;
		}
		:focus {
			outline: -webkit-focus-ring-color auto 0;
		}
	</style>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KRF054MWHB"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-KRF054MWHB');
	</script>
{% endblock %}

{% block topbar %}
	{{ include('partials/topbar.html.twig', { page_title: 'Produits' }) }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="col-md-11" style="margin-left:2%">
						<div class="row  contentDetailsComptable">
							<div class="row g-3">
								<div class="col-lg-12 col-md-12">
									<div class="tab-filter d-flex align-items-center justify-content-between mb-3 flex-wrap">
										<ul class="nav nav-tabs tab-card tab-body-header rounded  d-inline-flex w-sm-100" role="tablist">
											<li class="nav-item" role="presentation">
												<a class="nav-link active" data-bs-toggle="tab" href="#summery-week" aria-selected="false" role="tab" tabindex="-1">Semaine (
													{{ nbrDesCmdWeek }}
													)</a>
											</li>
											<li class="nav-item" role="presentation">
												<a class="nav-link" data-bs-toggle="tab" href="#summery-month" aria-selected="false" role="tab" tabindex="-1">Mois (
													{{ nbrDesCommande }}
													)</a>
											</li>
											<li class="nav-item" role="presentation">
												<a class="nav-link" data-bs-toggle="tab" href="#summery-relance" aria-selected="false" role="tab" tabindex="-1">Paniers à relancer</a>
											</li>
										</ul>
									</div>
									<div class="tab-content mt-1">

										<div class="tab-pane fade active show" id="summery-week" role="tabpanel">
											<div class="row g-3 mb-4 row-deck">
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="alert-success alert mb-0">
														<div class="d-flex align-items-center">
															<div class="avatar rounded no-thumbnail bg-success text-light">
																<i class="fa fa-dollar fa-lg"></i>
															</div>
															<div class="flex-fill ms-3 text-truncate">
																<div class="h6 mb-0">Chiffre de la semaine HT
																</div>
																<span class="small">{{ totalMontanthtWeek }}
																	€
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="alert-warning alert mb-0">
														<div class="d-flex align-items-center">
															<div class="avatar rounded no-thumbnail bg-warning text-light">
																<i class="fa fa-credit-card fa-lg"></i>
															</div>
															<div class="flex-fill ms-3 text-truncate">
																<div class="h6 mb-0">Commandes</div>
																<span class="small">{{ nbrDesCmdWeek }}</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" style="display:none">
													<div class="alert-danger alert mb-0">
														<div class="d-flex align-items-center">
															<div class="avatar rounded no-thumbnail bg-danger text-light">
																<i class="fa fa-book fa-lg"></i>
															</div>
															<div class="flex-fill ms-3 text-truncate">
																<div class="h6 mb-0">Produits</div>
																<span class="small">??</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- row end -->
											
											<table id="semaine" class="table table-striped" style="width:100%">
												<thead>
													<tr>
														<th>Dupliget Statut</th>
														<th>Date</th>
														<th>Numéro</th>
														<th>Date livraison/traitement</th>
														<th>Code Sejour</th>
														<th>Partenaire</th>
														<th>Client</th>
														<th>Montant</th>
														<th>ACTIONS</th>


													</tr>
												</thead>
												<tbody>
													{% for cmdWeek in ListDesCommandesWeek %}
														<tr>

															<td>{{ cmdWeek.dupligetStatut }}</td>
															<td>{{ cmdWeek.dateCreateCommande|date("Y-m-d H:i:s") }}</td>

															<td>{{ cmdWeek.numComande }}</td>


															<td>{{ cmdWeek.dateLivraison|date("Y-m-d H:i:s") }}</td>
															<td>{{ cmdWeek.idSejour.codeSejour }}</td>

															<td>{{ cmdWeek.idSejour.idPartenaire.nom }}
																{{ cmdWeek.idSejour.idPartenaire.prenom }}</td>


															<td>{{ cmdWeek.idUser.nom }}
																{{ cmdWeek.idUser.prenom }}🎧
																{{ cmdWeek.idUser.email }}</td>
															<td>{{ cmdWeek.moantantTtcregl }}€</td>
															</td>
															<td>
																<div class="btn-group d-flex">
																	<!-- Replace the dropdown-toggle button with individual buttons -->
																	<!-- Inline form for changing status -->
																	<form action="/commandes/changerStatutCommande" method="post" class="changer-statut-form d-inline">
																		<input type="hidden" name="statut" value="{{ cmdWeek.dupligetStatut }}">
																		<input type="hidden" name="idCmd" value="{{ cmdWeek.id }}">
																		<input type="hidden" name="mailClient" value="{{ cmdWeek.idUser.email }}">
																		<input type="hidden" name="numClient" value="{{ cmdWeek.idUser.numMobile }}">
																		<button type="submit" class="btn btn-primary">Changer statut</button>
																	</form>
																</div>

															</td>
														</tr>
													{% endfor %}
												</tbody>
												<tfoot>
													<tr>
														<th>Date</th>
														<th>Numéro</th>

														<th>Code Sej</th>
														<th>Partenaire</th>
														<th>Client</th>
														<th>Montant</th>
														<th>Etat</th>
														<th>ACTIONS</th>
													</tr>
												</tfoot>
											</table>

										</div>
										<!--Fin semaine -->
										<div class="tab-pane fade" id="summery-month" role="tabpanel">
											<div class="row g-3 mb-4 row-deck">
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="alert-success alert mb-0">
														<div class="d-flex align-items-center">
															<div class="avatar rounded no-thumbnail bg-success text-light">
																<i class="fa fa-dollar fa-lg"></i>
															</div>
															<div class="flex-fill ms-3 text-truncate">
																<div class="h6 mb-0">Chiffre HT</div>
																<span class="small">{{ totalMontanthtMonth }}</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
													<div class="alert-warning alert mb-0">
														<div class="d-flex align-items-center">
															<div class="avatar rounded no-thumbnail bg-warning text-light">
																<i class="fa fa-credit-card fa-lg"></i>
															</div>
															<div class="flex-fill ms-3 text-truncate">
																<div class="h6 mb-0">Commandes</div>
																<span class="small">{{ nbrDesCommande }}</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" style="display:none">
													<div class="alert-danger alert mb-0">
														<div class="d-flex align-items-center">
															<div class="avatar rounded no-thumbnail bg-danger text-light">
																<i class="fa fa-book fa-lg"></i>
															</div>
															<div class="flex-fill ms-3 text-truncate">
																<div class="h6 mb-0">Produits</div>
																<span class="small">5</span>
															</div>
														</div>
													</div>
												</div>


											</div>
											<!-- row end -->
											
											<table id="mois" class="table table-striped" style="width:100%">
												<thead>
													<tr>
														<th>Date</th>
														<th>Numéro</th>

														<th>Code Sejour</th>
														<th>Partenaire</th>
														<th>Client</th>
														<th>Montant</th>
														<th>Etat</th>
														<th>ACTIONS</th>
													</tr>
												</thead>
												<tbody>
													{% for cmdMonth in listeCommande %}
														<tr>
															<td>{{ cmdMonth.dateCreateCommande|date("Y-m-d H:i:s") }}</td>

															<td>{{ cmdMonth.numComande }}</td>


															<td>{{ cmdMonth.idSejour.codeSejour }}</td>
															<td>{{ cmdMonth.idSejour.idPartenaire.nom }}
																{{ cmdMonth.idSejour.idPartenaire.prenom }}</td>

															<td>{{ cmdMonth.idUser.nom }}
																{{ cmdMonth.idUser.prenom }}🎧
																{{ cmdMonth.idUser.email }}</td>
															<td>{{ cmdMonth.moantantTtcregl }}
																€</td>
															<td>{{ cmdMonth.dupligetStatut }}
															</td>
															<td>
																<div class="btn-group d-flex">
																	
																	<!-- Inline form for "Changer statut" -->
																	<form action="/commandes/changerStatutCommande" method="post" class="changer-statut-form d-inline">
																		<input type="hidden" name="statut" value="{{ cmdMonth.dupligetStatut }}">
																		<input type="hidden" name="idCmd" value="{{ cmdMonth.id }}">
																		<input type="hidden" name="mailClient" value="{{ cmdMonth.idUser.email }}">
																		<input type="hidden" name="numClient" value="{{ cmdMonth.idUser.numMobile }}">
																		<button type="submit" class="btn btn-primary">Changer statut</button>
																	</form>
																</div>

															</td>
														</tr>
													{% endfor %}
												</tbody>
												<tfoot>
													<tr>
														<th>Date</th>
														<th>Numéro</th>

														<th>Code Sej</th>
														<th>Partenaire</th>
														<th>Client</th>
														<th>Montant</th>
														<th>Etat</th>
														<th>ACTIONS</th>

													</tr>
												</tfoot>
											</table>


										</div>
										<!--Relance -->
										<div class="tab-pane fade" id="summery-relance" role="tabpanel">
											<div class="row g-3 mb-4 row-deck">

												<table id="panier" class="table table-striped" style="width:100%">
													<thead>
														<tr>
															<th>Numéro</th>
															<th>Statut</th>
															<th>Date</th>
															<th>Montant</th>
															<th>Jeton</th>
															<th>Client</th>
															<th>Sejour</th>
															<th>ACTIONS</th>


														</tr>
													</thead>
													<tbody>
														{% for panier in listePanier %}
															<tr>

																<td>{{ panier.numPanier }}</td>
																<td>{{ panier.statut.libiller }}</td>

																<td>{{ panier.dateCreation|date("Y-m-d H:i:s") }}</td>
																<td>{{ panier.prixTotal }}</td>
																<td>{{ panier.jeton }}</td>
																<td>{{ panier.creerPar.nom }}
																	{{ panier.creerPar.prenom }}🎧
																	{{ panier.creerPar.email }}</td>
																<td>{{ panier.idSejour.themSejour }}</td>

																<td>
																	<div class="btn-group d-flex">
																		<!-- Inline form for "Rappel" -->
																		<form action="{{ path('panier_rappel') }}" method="post" class="d-inline">
																			<input type="hidden" name="id" value="{{ panier.id }}">
																			<button type="submit" class="btn">
																				<i class="fas fa-trash text-success"></i> Rappel
																			</button>
																		</form>
																		<!-- Include delete form -->
																		<div class="d-inline">
																			{{ include('commandes/_delete_form.html.twig', {'panier': panier}) }}
																		</div>
																	</div>

																</td>
															</tr>
														{% endfor %}
													</tbody>
													<tfoot>
														<tr>
															<th>Date</th>
															<th>Numéro</th>

															<th>Code Sej</th>
															<th>Partenaire</th>
															<th>Client</th>
															<th>Montant</th>
															<th>Etat</th>
															<th>ACTIONS</th>
														</tr>
													</tfoot>
												</table>
											</div>
											<!-- row end -->


										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end row -->


{% endblock %}

{% block javascript %}
	<!-- third party js -->
	<script src="/libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/libs/datatables.net-select/js/dataTables.select.min.js"></script>
	<script src="/libs/pdfmake/build/pdfmake.min.js"></script>
	<script src="/libs/pdfmake/build/vfs_fonts.js"></script>
	<!-- third party js ends -->

	<!-- Datatables init -->
	<script src="/js/pages/datatables.init.js"></script>
	<script>
		function ActivateMenuBtn(elem) {
$('.ColMenu').each(function () {
$(this).removeClass('active');
});
elem.parent().addClass('active');
}


function AffichDropdown($idDrop) { // $(.'dropdown-menu').css('display',' none');
$($idDrop).css('display', 'block');
}
function ChangerStatutCommande($statut, $idCmd, $mailClient, $numClient) {
$_data = {
'statut': $statut,
'idCmd': $idCmd,
'mailClient': $mailClient,
'numClient': $numClient
};
console.log('data', $_data);

$.ajax({
type: "POST",
url: "/commandes/changerStatutCommande",
data: JSON.stringify($_data),
contentType: "application/json",
success: function (response) {
console.log('Mail statut commande envoyé au client', response);
if (response.logs) {
response.logs.forEach(log => console.log(log));
}
},
error: function (xhr, status, error) {
console.log('Error: ' + error);
}
});
}
	</script>
	<script>
		$(document).ready(function() {
			$('#mois').DataTable({
				dom: '<"dt-buttons"Bf><"clear">lrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});
			$('#panier').DataTable({
				dom: '<"dt-buttons"Bf><"clear">lrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});
			$('#semaine').DataTable({
				dom: '<"dt-buttons"Bf><"clear">lrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});
		});
	</script>

{% endblock %}
